.main {
    width: 800px;
    /*background-color: #848484;*/
    height: 1500px;
    margin:0 auto;
    box-sizing: border-box;
}
.main-name {
    margin: 0 auto;
    height: 125px;
    border-bottom: 2px solid #532f14 ;
}

.main-text{
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #1d140c;
    text-align: left;
    padding: 40px 60px;
}

.hr1 {
    margin: 0 auto;
    width: 680px;
    color: #1A120B; 
}

.main-content {
    display: flex;
}

.content-title {
    width: 280px;
    border-right: 2px solid #532f14;

}

.content-details {
    margin: 30px 59px;
    width: 157px;
}

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #1A120B;
    text-decoration-line: underline;
    letter-spacing: 0.3px;
}

.subtitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #1A120B;
    margin: 30px 0 0 0;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.09px;
    margin: 4px 0 0 0;
    color: #1A120B;
}

#skills {
    margin: 30px 0 0 0;
}

.content-text {
    width: 520px;
    height: 1059px;
}

.content-basic {
    margin: 30px 40px;
}

.about {
    margin: 15px 0 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.09px;
    color: #1A120B;
}

#about {
    text-indent: 20px;
}

.exp {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #1A120B;
    text-decoration-line: underline;
    letter-spacing: 0.3px;
    margin: 30px 0 0 0;
}

.sub {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #1A120B;
    margin: 15px 0 0 0;
}

.post {
    margin: 6px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.09px;
    color: #1A120B;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.09px;
    color: #1A120B;
}

ul {
    padding-left: 20px;
}
